html {
    margin: 0;
    --bg: #181816;
    --fg: #C5C9C5;
    --accent: #98BB6C;
    background-color: var(--bg);
    color: var(--fg);
    height: 100vh;
    box-sizing: border-box;

    font-family: "DM Mono", monospace;
    font-style: normal;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--fg);
    margin-bottom: 1em;
    padding: 0.5em;
    background: var(--bg);
}

nav>* {
    padding: 0em 0.5em;
    border-left: 1px solid var(--fg);
}

nav>*:first-child {
    border-left: none;
}

nav>div {
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: var(--fg);
    text-decoration: none;
}

a:hover .link-underline {
    text-decoration: underline;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main>div {
    width: 60%;
}

.card {
    padding: 1em;
    border: 1px solid var(--fg);
    border-radius: 5px;
}


img {
    display: block;
    margin: 1em auto 1em auto;
    border-radius: 5px;
}

h3 {
    margin: 0;
}

.card>h3 {
    margin-bottom: 1em;
}

h4 {
    margin: 0;
}


p {
    text-align: justify;
    margin: 0;
}

#projects-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@keyframes blinker {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

footer {
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
    bottom: 0px;
    border-top: 1px solid var(--fg);
    margin-top: 1em;
    padding: 0.5em;
}

footer>* {
    padding: 0em 0.5em;
    border-left: 1px solid var(--fg);
}

footer>*:first-child {
    border-left: none;
}
