html {
    margin: 0;
    --bg: #181816;
    --fg: #C5C9C5;
    background-color: var(--bg);
    color: var(--fg);
    height: 100vh;
    box-sizing: border-box;

    font-family: "DM Mono", monospace;
    font-style: normal;
    font-size: 1em;
}

@media only screen and (min-height : 1500px) {
    html {
        font-size: 2em;
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--fg);
    margin-bottom: 1em;
    padding: 0.5em 0;
    background: var(--bg);
}

nav>div {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}

nav>div>* {
    border-left: 1px solid var(--fg);
    padding: 0em 0.5em;
}

nav>div>*:first-child {
    border-left: none;
}

a {
    color: var(--fg);
    text-decoration: none;
}

a:hover .link-underline {
    text-decoration: underline;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

main>div {
    width: 85%;
}

@media only screen and (min-width : 1200px) {
    main>div {
        width: 1020px;
    }
}

.card {
    padding: 1em;
    border: 1px solid var(--fg);
    border-radius: 5px;
}


img {
    display: block;
    margin: 1em auto 1em auto;
    border-radius: 5px;
}

h3 {
    margin-top: 0em;
    margin-bottom: 0.5em;
}

h4 {
    margin: 0;
}

li {
    margin-bottom: 0.5em;
}

p {
    text-align: justify;
    margin: 0;
}

#projects-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@keyframes blinker {
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

footer {
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
    bottom: 0px;
    border-top: 1px solid var(--fg);
    margin-top: 1em;
    padding: 0.5em;
}

footer>* {
    padding: 0em 0.5em;
    border-left: 1px solid var(--fg);
}

footer>*:first-child {
    border-left: none;
}
