[submodule "AAAAAAAA"]
	path = AAAAAAAA
	url = git@github.com:HugoBde/AAAAAAAA.git
[submodule "hugobde.dev"]
	path = hugobde.dev
	url = git@github.com:HugoBde/hugobde.dev.git
[submodule "msgme"]
	path = msgme
	url = git@github.com:HugoBde/msgme.git
[submodule "blog_bob"]
	path = blog_bob
	url = git@github.com:HugoBde/blog_bob.git
